services:
  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped

  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
    stdin_open: true
    restart: unless-stopped