services:
  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - todo-db-data:/app/data
    environment:
      - NODE_ENV=production
    command: npm start
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "3000:80"
    depends_on:
      - server
    environment:
      - CHOKIDAR_USEPOLLING=true # Optional: helpful if we were mounting, but harmless here
    stdin_open: true
    restart: unless-stopped
