version: '3.8'

services:
  server:
    build: 
      context: .
      dockerfile: ./server/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production

  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
    stdin_open: true
    environment:
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
      - CHOKIDAR_USEPOLLING=false